table
{
    color: orange;
    font:14px Georgia, serif;
    padding:0px;
}
 
th
{
    color:tomato;
    font-weight:bold;
    padding:0px;
    text-align:center;
    vertical-align:top;
}
 
tr
{
    font-weight:normal;
}
 
td
{
    padding:0px;
    text-align:left;
    vertical-align:top;
}